{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eleventh navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{{ app_name }}</a>
                <div class="collapse navbar-collapse justify-content-md-end" id="navbarCollapse">
                    <form class="d-flex">
                        <a class="btn btn-primary" href="{{ path('app_twitch_login') }}" role="button">
                            {% trans %}app.home.login{% endtrans %}
                        </a>
                    </form>
                </div>
            </div>
        </nav>
    <main>
        <div class="position-relative overflow-hidden p-md-5 text-center">
            <div class="col-md-5 mx-auto my-5">
                <img alt="logo bot ban hammer list" src="{{ asset('build/test_logo.png') }}" style="height: 200px; width: 200px;">
                <h1 class="display-4 fw-normal">{{ app_name }}</h1>
                <p class="lead fw-normal">
                    Le bot qui bannira pour vous.
                </p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
    </main>
    </div>
{% endblock %}